:root{
    --primary-color: rgb(166, 148, 57);
    --secondary-color: rgb(151, 151, 151);
    --light-primary: rgb(233, 222, 176);
    --light-secondary: rgb(192, 192, 192);
    --black: #000000;
    --white: #ffffff;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    background-image: url("/img/header.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.navigation {
    background: transparent;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100vw;
}
.other-nav{
    background-image: url('/img/header.png');
}

.navbar-collapse {
    flex-grow: 0 !important;
}
.search-btn{
    border: 1px solid  var(--primary-color) !important;
    color: var(--primary-color) !important;
}
.search-btn:hover{
    background-color: var(--primary-color) !important;
    color: var(--black)!important;
}

.banner {
    padding: 15px 40px;
}

.heading {
    text-transform: capitalize;
    color: var(--secondary-color);
    font-size: 51px;
    font-weight: bold;
    letter-spacing: 1px;
}

.heading span {
    color: var(--primary-color);
}

.text {
    color: var(--white);
    font-size: 30px;
    font-style: oblique;
    margin-top: 20px;
    letter-spacing: 2px;

}
/* .navbar-collapse{
    padding: 0 20px 10px 20px;
    background: rgb(63, 63, 63);
    opacity: 0.95;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(4.8px);
    z-index: 2;
} */
.sign{
    border: 2px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
}
.signin{
    background-color: var(--secondary-color) !important;
    color: var(--black) !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
}
.sign:hover{
    background-color: var(--primary-color) !important;
    color: var(--black) !important;
}
@media(max-width: 1350px){
    .form{
        padding: 5px 10px 0 10px !important;
    }
}
@media(max-width: 1187px){
    .heading{
        font-size: 46px;
    }
    .text{
        font-size: 27px;
    }
}
@media(max-width: 1086px){
    .heading{
        font-size: 41px;
    }
    .text{
        font-size: 24px;
    }
}

@media(max-width: 991.5px){
    .form_area{
        display: none;
    }
    /* .laptop-pic{
        display: none;
    } */
    
}

@media(max-width: 818px){
    .heading{
        font-size: 40px;
    }
    .text{
        font-size: 22px !important;
    }
    .btns button{
        padding: 15px 0 !important;

    }
}

@media(max-width: 571px){
    .btns button{
        width: 50% !important;
        padding: 10px 0 !important;
    }
}
@media(max-width: 456px){
    .heading{
        font-size: 30px;
    }
    .text{
        font-size: 18px !important;
    }
}
@media(min-width: 992px){
    .offcanvas{
        display: none !important;
    }
}

.btns {
    margin-top: 10px;
}

.btns button {
    width: 33%;
    background: var(--secondary-color);
    height: auto;
    padding: 20px 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;

}
.offcanvas{
    padding: 10px 20px;
    background-color: rgb(62, 62, 62) !important;
    opacity: 0.9;
}
.sign-btns{
    margin-bottom: 10px;
    margin-top: 10px;
}

.get {
    background-color: var(--primary-color) !important;
}

.btns button:hover {
    background-color: var(--secondary-color);
    opacity: 0.9;
}

.form {
    padding: 10px 20px;
    background: rgb(50, 50, 50);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 2px solid var(--primary-color);
    opacity: 0.8;
    
}


.form h3 {
    color: var(--primary-color);
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 20px;
}
.form label{
    color: var(--white);
}
.form input{
    border: none;
}
.form p{
    color: var(--white);
    margin-top: 15px;
    font-size: 18px;
    text-transform:capitalize;
    font-weight: 600;
}
.signup{
    padding: 10px 0 !important;
    font-size: 18px !important;
    font-weight: bold !important;
    background-color: var(--primary-color) !important;
    border: none !important;

}
.signup:hover{
    opacity: 0.9 !important;
}
.google{
    background-color: var(--secondary-color) !important;
}
.login a{
    color: var(--white);
    text-decoration: none;
    text-transform: capitalize;
}
.login a:hover{
    color: var(--white);
    text-decoration: underline;
}
.skills{
    padding: 30px 80px !important;
}
.icon-place{
    margin: 20px;
    border-radius: 5px;
    background-color: var(--light-primary);
    width: fit-content;
    height: auto;
    padding: 15px;
}

.icon{
    width: 40px;
    height: 40px;
}
.box, .box2{
    border: none !important;
    box-shadow: 0 0 2px #e3e3e3;
}
.box2{
    box-shadow: 0 0 20px #c8c8c8;
    transition: .2s ease-in-out;
}

.achieve{
    text-transform: capitalize;
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: 600;
}
.learn{
    padding: 80px 80px !important;
    background-color: var(--light-primary);
}
.laptop-pic{
    height: 500px !important;
    width: 100%;
    border-radius: 10px;
}
.left{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.left h2{
    text-transform: capitalize;
    /* font-size: 39px; */
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.left p{
    /* font-size: 20px; */
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.left ul li{
    list-style: none;
    /* font-size: 18px; */
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.left ul li i{
    margin-right: 20px;
    /* font-size: 23px; */
    font-size: 1.3rem;
    color: var(--primary-color);
}
.learn-btn{
    background: var(--secondary-color) !important;
    color: var(--white) !important;
    padding: 10px 20px !important;
    margin-top: 10px !important;
}
.course{
    padding: 40px 80px !important;
}
.lat{
    letter-spacing: 1px;
    font-size: 39px;
}
.card-img-top{
    height: 230px;
}
.enroll{
    background: var(--primary-color) !important;
    border: none !important;
}

.cour{
    font-weight: 600;
    text-transform: capitalize;
    /* font-size: 35px; */
    font-size: 2.2rem;
    letter-spacing: 1px;
}
.event{
    padding: 40px 80px !important;
    background-color: var(--light-primary);
}
.event-img{
    padding: 10px;
    border-radius: 14px !important;
}
.sub{
    color: var(--primary-color);
    font-weight: bold;
}

.loc i{
    color: var(--primary-color);
}
.date i{
    color: var(--primary-color);
}
.rev-box{
    width: 300px;
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    border-top-right-radius: 30px;
    height: auto;
    min-height: 250px;
    min-width: 300px;
    background-color: var(--light-secondary);
}
#reviews{
    overflow-x: hidden;
}


.checked{
    color: var(--primary-color);
}
.review-btn{
    background-color: var(--primary-color) !important;

}
.main-join{
    padding: 100px 80px !important;
}
.join{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.join-head{
    text-transform: capitalize;
    margin-bottom: 30px;
    /* font-size: 40px; */
    font-size: 2.4rem;
    letter-spacing: 2px;
    text-align: center;

}
.join-para{
    /* font-size: 20px; */
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-align: center;
}
.footer{
    background-image: url('/img/bghead.jpg');
    color: var(--white);
    padding: 60px 130px 30px 130px !important;
}

.footer h3{
    margin-bottom: 30px;
}
.foot-list a{
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
    
}
.foot-list{
    padding-left: 5px;
}
.foot-list a:hover{
    color: var(--white);
    opacity: 0.9;
}
.foot-list a li{
    list-style: none;
    text-align: left;
    padding-bottom: 15px;
}
.copyright p{
    color: var(--secondary-color);
    font-size: 1rem;
}
.social-links a{
    padding: 15px;
    color: var(--secondary-color);
    font-size: 18px;
    text-decoration: none;
    
}
.social-links a:hover{
    color: var(--white);

}

/* Courses page CSS */
.courses-page{
    padding: 40px 10px;
    overflow-x: hidden;
    background-color: var(--light-primary);
}
.filter-head{
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 1.6rem;
    text-align: center;
}

.filter-col{
    border-right: 1px solid var(--primary-color);
}
.course-section h3{
    font-size: 2.3rem;
    margin-left: 20px;
    margin-bottom: 30px;
}
.course-section{
    padding: 0 20px;
}
.active{
    border: none;
    color: var(--primary-color) !important;
}
.filt-btn{
    font-size: 1.1rem;
    border: none;
    background: transparent;
    transition: .1s ease-in;
}
.filt-btn:hover{
    border: none !important;
    font-size: 1.2rem;
}

.card-title{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-text{
    text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.mob-sidebar{
    display: none;
}
.mod-head{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--secondary-color);
}
.mod-body p{
    font-size: 1.1rem;
}
.duration{
    margin-top: 25px;
}
.dur-head{
    font-size: 1.5rem;
    
    color: var(--primary-color);
    font-weight: 600;
}
.dur-p{
    font-size: 1.2rem !important;
}

@media(max-width: 991.5px){
    .filter-col{
        display: none;
    }
    .mob-sidebar{
        display: block;
    }
}
.acc-btn{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: var(--secondary-color);
    border: none;
}
.acc-btn:not(.collapsed){
    color: var(--black) !important;
    background-color: var(--secondary-color);
}
.acc-btn:focus{
    border-color: none;
    box-shadow: none;
}
.acc-body{
    background-color: var(--light-primary);
    border: 3px solid var(--primary-color);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* About section  */
.about{
    padding: 50px 60px;
    background-color: var(--light-primary);
}
.ab-head{
    letter-spacing: 2px;
    font-size: 3.3rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.ab-para{
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.ab-btn{
    background-color: var(--primary-color);
    padding: 18px 70px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
}
.ab-btn:hover{
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    box-shadow: 5px 5px 10px var(--secondary-color);
}
.hist-head{
    font-size: 2.2rem;
    margin-bottom: 20px;
}
.hist-para{
    font-size: 1.2rem;
}
.video{
    width: 100%;
}

/* Contact page  */
.contact{
    padding: 50px 60px;
    background-color: var(--light-primary);
}
.cont-head{
    font-size: 2.6rem;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 20px;
}
.fa-phone, .fa-envelope, .fa-map-marker-alt{
    color: var(--primary-color);
}
.phone, .email, .address{
    font-size: 1.1em;
}
.send{
    background-color: var(--secondary-color);
    padding: 15px 60px;
    font-size: 1.2rem;
    color: var(--white);
    font-weight: bold;
}
.send:hover{
    background-color: var(--secondary-color);
    border: none;
    color: var(--white);
}

/* pricing page  */
.pricing{
    background-color: var(--light-primary);
    padding: 50px 60px;
}
.ready{
    font-size: 2.2rem;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 20px;
}
.plan{
    font-size: 1.4rem;
    letter-spacing: 1px;
}
.plan-btn.active{
    background-color: var(--secondary-color) !important;
    color: var(--black) !important;
}
.plan-btn{
    color: var(--secondary-color) !important;
}
.price-card{
    /* min-height: 985px; */
    height: auto;
    padding: 10px;
}
.price-title{
    color: var(--black);
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: capitalize;
}
.pro-title{
    color: var(--white);
}
.hand{
    font-size: 2rem;
    color: var(--secondary-color);
}
.pro{
    font-size: 2rem;
    color: var(--black);
}
.price-line{
    color: var(--black);
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.pro-line{
    color: var(--white);
}
.price-tag{
    font-size: 4rem;
    color: var(--black);
    font-weight: bold;
}
.pro-tag{
    color: var(--white);
}
.price-tag sub{
    font-size: 1rem;
    color: var(--secondary-color);
}
.pro-tag sub{
    color: var(--black);
}
.price-tag span{
    color: var(--secondary-color);
}
.pro-tag span{
    color: var(--black);
}

.price-btn{
    width: 100%;
    background-color: var(--primary-color);
    padding: 15px;
    border: none;
    font-size: 1.2rem;
    color: var(--white);
}
.pro-btn{
    background-color: var(--secondary-color);
    color: var(--black);
}
.price-btn:hover{
    background-color: var(--primary-color);
    color: var(--white);
    opacity: 0.9;
}
.pro-btn:hover{
    background-color: var(--secondary-color);
    color: var(--black);
}
.bas-in{
    color: var(--black);
    font-size: 1.3rem;
}
.pro-in{
    color: var(--white);
}
.features i {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 700;
}
.pro-feat i{
    color: var(--black);
}
.features p{
    color: var(--black);
    font-size: 1.1rem;
}
.pro-feat p{
    color: var(--white);
}

.pro-card{
    background-color: var(--primary-color);
}