:root{
    --primary-color: rgb(166, 148, 57);
    --secondary-color: rgb(151, 151, 151);
    --light-primary: rgb(233, 222, 176);
    --light-secondary: rgb(192, 192, 192);
    --black: #000000;
    --white: #ffffff;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.logo-img{
    height: 80px;
}
/* .search-login{
    right: 0;
    float: right;
} */
.top {
    background-image: url("header.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.navigation {
    background: transparent;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100vw;
}
.other-nav{
    background-image: url('header.png');
}

.navbar-collapse {
    flex-grow: 0 !important;
}
.search-btn{
    border: 1px solid  var(--primary-color) !important;
    color: var(--primary-color) !important;
}
.search-btn:hover{
    background-color: var(--primary-color) !important;
    color: var(--black)!important;
}

.banner {
    padding: 15px 40px;
}

.heading {
    text-transform: capitalize;
    color: var(--secondary-color);
    font-size: 2.6rem;
    font-weight: bold;
    letter-spacing: 1px;
}
@media(max-width: 321px){
    .heading{
        /* font-size: 2.3rem !important; */
        letter-spacing: 0;
    }
}

.heading span {
    color: var(--primary-color);
}

.text {
    color: var(--white);
    font-size: 1.6rem;
    font-style: oblique;
    margin-top: 20px;
    letter-spacing: 2px;

}
/* .navbar-collapse{
    padding: 0 20px 10px 20px;
    background: rgb(63, 63, 63);
    opacity: 0.95;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(4.8px);
    z-index: 2;
} */
.sign{
    border: 2px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
}
.signin{
    background-color: var(--secondary-color) !important;
    color: var(--black) !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
}
.sign:hover{
    background-color: var(--primary-color) !important;
    color: var(--black) !important;
}
 
@media(max-width: 1350px){
    .form{
        padding: 5px 10px 0 10px !important;
    }
}
@media(max-width: 1256px){
    .loc, .date{
        font-size: 0.9rem !important;
    }
}
@media(max-width: 1187px){
    .heading{
        font-size: 46px;
    }
    .text{
        font-size: 27px;
    }
}

@media(max-width: 1086px){
    .heading{
        font-size: 41px;
    }
    .text{
        font-size: 24px;
    }
    
}

@media(max-width: 991.5px){
    .form_area{
        display: none;
    }
    /* .laptop-pic{
        display: none;
    } */
    #navbarSupportedContent{
        display: none !important;
    }
    #menu{
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
    }
    
}
@media(max-width: 910px){
    .last-footer{
        flex-wrap: wrap;
    }
}
@media(max-width: 875px){
    .cour{
        font-size: 2rem !important;
        letter-spacing: 0 !important;
    }
}
@media(max-width: 830px){
    .loc, .date{
        font-size: 0.8rem !important;
    }
}
@media(max-width: 818px){
    .heading{
        font-size: 40px;
    }
    .text{
        font-size: 22px !important;
    }
    .btns a{
        padding: 15px 0 !important;

    }
}
@media(max-width: 764px){
    .cour{
        font-size: 1.6rem !important;
        letter-spacing: 0 !important;
    }
    .loc, .date{
        font-size: 1rem !important;
    }
}

@media(max-width: 715px){
    .copyright p{
        font-size: 0.9rem !important;
    }
}
@media(max-width: 764px){
    .cour{
        font-size: 1.5rem !important;
        letter-spacing: 0 !important;

    }
    .arrows{
        flex-wrap: nowrap;
    }
}
@media(max-width: 571px){
    .btns a{
        width: 50% !important;
        padding: 10px 0 !important;
    }
    .copyright p{
        font-size: 0.8rem !important;
    }
}
@media(max-width: 522px){
    .loc, .date{
        font-size: 0.9rem !important;
    }
}

@media(max-width: 456px){
    .heading{
        font-size: 30px;
    }
    .text{
        font-size: 18px !important;
    }
}
@media(max-width: 434px){
    .loc, .date{
        font-size: 0.77rem !important;
    }
}
@media(max-width: 360px){
    .btns a{
        width: 70% !important;
        padding: 10px 0 !important;
    }
}

@media(max-width: 290px){
    .btns a{
        width: 80% !important;
        padding: 10px 0 !important;
    }
}
@media(min-width: 992px){
    .offcanvas{
        display: none !important;
    }
}

.btns {
    margin-top: 10px;
}

.btns a {
    width: 33%;
    background: var(--secondary-color);
    height: auto;
    padding: 20px 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;

}
.offcanvas{
    padding: 10px 20px;
    background-color: rgb(62, 62, 62) !important;
    opacity: 0.9;
}
.sign-btns{
    margin-bottom: 10px;
    margin-top: 10px;
}

.get {
    background-color: var(--primary-color) !important;
}

.btns a:hover {
    background-color: var(--secondary-color);
    opacity: 0.9;
}

.form {
    padding: 10px 20px;
    background: rgb(50, 50, 50);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 2px solid var(--primary-color);
    opacity: 0.8;
    
}


.form h3 {
    color: var(--primary-color);
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 20px;
}
.form label{
    color: var(--white);
}
.form input{
    border: none;
}
.form p{
    color: var(--white);
    margin-top: 15px;
    font-size: 18px;
    text-transform:capitalize;
    font-weight: 600;
}
.signup{
    padding: 10px 0 !important;
    font-size: 18px !important;
    font-weight: bold !important;
    background-color: var(--primary-color) !important;
    border: none !important;
    text-decoration: none;
    text-align: center;

}
.signup:hover{
    opacity: 0.9 !important;
    color: var(--black);
}
.google{
    background-color: var(--secondary-color) !important;
}
.login a{
    color: var(--white);
    text-decoration: none;
    text-transform: capitalize;
}
.login a:hover{
    color: var(--white);
    text-decoration: underline;
}
.skills{
    padding: 30px 80px !important;
}
@media(max-width: 512px){
    .skills{
        padding: 30px 60px !important;
    }
    .achieve{
        font-size: 2rem !important;
        letter-spacing: 0 !important;
    }
    .logo-img{
        width: 90% !important;
    }
}
@media(max-width: 396px){
    .skills{
        padding: 20px 40px !important;
    }
    .achieve{
        font-size: 1.8rem !important;
        letter-spacing: 0 !important;
    }
    .logo-img{
        width: 80% !important;
        height: 70px;
    }
    .top-alert{
        top: 96px !important;
    }
}
@media(max-width: 341px){
    .logo-img{
        width: 70% !important;
        height: 60px;
    }
    
        .top-alert{
            top: 84px !important;
        }
    
}
@media(max-width: 309px){
    .logo-img{
        width: 60% !important;
        height: 50px;
    }
    .top-alert{
        top: 75px !important;
    }
}
.icon-place{
    margin: 20px;
    border-radius: 5px;
    background-color: var(--light-primary);
    width: fit-content;
    height: auto;
    padding: 15px;
}

.icon{
    width: 40px;
    height: 40px;
}
.box, .box2{
    border: none !important;
    box-shadow: 0 0 2px #e3e3e3;
}
.box2{
    box-shadow: 0 0 20px #c8c8c8;
    transition: .2s ease-in-out;
}

.achieve{
    text-transform: capitalize;
    font-size: 2.2rem;
    letter-spacing: 1px;
    font-weight: 600;
}
.learn{
    padding: 80px 80px !important;
    background-color: var(--light-primary);
}

.laptop-pic{
    height: 500px !important;
    width: 100%;
    border-radius: 10px;
}
@media(max-width: 512px){
    .learn{
        padding: 40px 60px !important;
    }
    .laptop-pic{
        height: 400px !important;
        width: 100%;
        border-radius: 10px;
    }
    .left h2{
        font-size: 2.2rem !important;
    }
    .left p{
        font-size: 1rem !important;
    }
    .left ul li{
        font-size: 1rem !important;
        letter-spacing: 0 !important;
        margin-bottom: 10px !important;
    }
    .left ul li i{
        font-size: 1rem !important;
    }
    
}
@media(max-width: 396px){
    .learn{
        padding: 30px 40px !important;
    }
    .laptop-pic{
        height: 350px !important;
    }
}
.left{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.left h2{
    text-transform: capitalize;
    /* font-size: 39px; */
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.left p{
    /* font-size: 20px; */
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.left ul li{
    list-style: none;
    /* font-size: 18px; */
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.left ul li i{
    margin-right: 20px;
    /* font-size: 23px; */
    font-size: 1.3rem;
    color: var(--primary-color);
}
.learn-btn{
    background: var(--secondary-color) !important;
    color: var(--white) !important;
    padding: 10px 20px !important;
    margin-top: 10px !important;
}
.course{
    padding: 40px 80px !important;
}
@media(max-width: 512px){
    .course{
        padding: 30px 60px !important;
    }
}
@media(max-width: 396px){
    .course{
        padding: 20px 40px !important;
    }

}
@media(max-width: 350px){
    .course{
        padding: 20px 20px !important;
    }
    .stars{
        display: none !important;
    }
    .date{
        display: none !important;
    }

}
.lat{
    letter-spacing: 1px;
    font-size: 39px;
}
.card-img-top{
    height: 230px;
}
.enroll{
    background: var(--primary-color) !important;
    border: none !important;
}

.cour{
    font-weight: 600;
    text-transform: capitalize;
    /* font-size: 35px; */
    font-size: 2.2rem;
    letter-spacing: 1px;
}
.event{
    padding: 40px 80px !important;
    background-color: var(--light-primary);
}
@media(max-width: 512px){
    .event{
        padding: 30px 60px !important;
    }
}
@media(max-width: 396px){
    .event{
        padding: 20px 40px !important;
    }

}
.event-img{
    padding: 10px;
    border-radius: 14px !important;
}
.sub{
    color: var(--primary-color);
    font-weight: bold;
}
.loc, .date{
    font-size: 1rem;
}

.loc i{
    color: var(--primary-color);
}
.date i{
    color: var(--primary-color);
}
.rev-box{
    width: 300px;
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    border-top-right-radius: 30px;
    height: auto;
    min-height: 250px;
    min-width: 300px;
    background-color: var(--light-secondary);
}
#reviews{
    overflow-x: hidden;
}


.checked{
    color: var(--primary-color);
}
.review-btn{
    background-color: var(--primary-color) !important;

}
.main-join{
    padding: 100px 80px !important;
}
@media(max-width: 512px){
    .main-join{
        padding: 80px 60px !important;
    }
    .join-head{
        text-transform: capitalize;
        margin-bottom: 20px !important;
        font-size: 2rem !important;
        letter-spacing: 0 !important;
    
    }
    .join-para{
        /* font-size: 20px; */
        font-size: 1rem !important;
        letter-spacing: 0 !important;
        margin-bottom: 20px !important;
    }
}
@media(max-width: 396px){
    .main-join{
        padding: 60px 40px !important;
    }
    .join-head{
        text-transform: capitalize;
        margin-bottom: 10px !important;
        font-size: 1.8rem !important;
        letter-spacing: 0 !important;
    
    }
    .join-para{
        /* font-size: 20px; */
        font-size: 0.9rem !important;
        letter-spacing: 0 !important;
        margin-bottom: 10px !important;
    }
}
.join{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.join-head{
    text-transform: capitalize;
    margin-bottom: 30px;
    /* font-size: 40px; */
    font-size: 2.4rem;
    letter-spacing: 2px;
    text-align: center;

}
.join-para{
    /* font-size: 20px; */
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-align: center;
}
.footer{
    background-image: url('bghead.jpg');
    color: var(--white);
    padding: 60px 130px 30px 130px !important;
}
@media(max-width: 768px){
    .footer{
        padding: 60px 100px 30px 100px !important;

    }
}
@media(max-width: 576px){
    .footer{
        padding: 60px 70px 30px 70px !important;

    }
}

.footer h3{
    margin-bottom: 30px;
}
.foot-list a{
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
    
}
.foot-list{
    padding-left: 5px;
}
.foot-list a:hover{
    color: var(--white);
    opacity: 0.9;
}
.foot-list a li{
    list-style: none;
    text-align: left;
    padding-bottom: 15px;
}
.copyright p{
    color: var(--secondary-color);
    font-size: 1rem;
}
.social-links a{
    padding: 15px;
    color: var(--secondary-color);
    font-size: 18px;
    text-decoration: none;
    
}
.social-links a:hover{
    color: var(--white);

}

/* Courses page CSS */
.courses-page{
    padding: 80px 10px;
    overflow-x: hidden;
    background-color: var(--light-primary);
}
.filter-head{
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 1.6rem;
    text-align: center;
}

.filter-col{
    border-right: 1px solid var(--primary-color);
}
.course-section h3{
    font-size: 2.3rem;
    margin-left: 20px;
    margin-bottom: 30px;
}
.course-section{
    padding: 0 20px;
}
.active{
    border: none;
    color: var(--primary-color) !important;
}
.filt-btn{
    font-size: 1.1rem;
    border: none;
    background: transparent;
    transition: .1s ease-in;
}
.filt-btn:hover{
    border: none !important;
    font-size: 1.2rem;
}
.textcard{
    text-overflow: none !important;
  overflow: none !important;
  display: block !important;
  -webkit-line-clamp: none !important;
  -webkit-box-orient: none !important;
}
.titlecard{
    white-space: none !important;
  overflow: none !important;
  text-overflow: none !important;
}
.card-title{
    white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-text{
    text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.mob-sidebar{
    display: none;
}
.mod-head{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--secondary-color);
}
.mod-body p{
    font-size: 1.1rem;
}
.duration{
    margin-top: 25px;
}
.dur-head{
    font-size: 1.5rem;
    
    color: var(--primary-color);
    font-weight: 600;
}
.dur-p{
    font-size: 1.2rem !important;
}

@media(max-width: 991.5px){
    .filter-col{
        display: none;
    }
    .mob-sidebar{
        display: block;
    }
}
.acc-btn{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: var(--secondary-color);
    border: none;
    text-align: center;
}
.acc-btn:not(.collapsed){
    color: var(--black) !important;
    background-color: var(--secondary-color);
}
.acc-btn:focus{
    border-color: none;
    box-shadow: none;
}
.acc-body{
    background-color: var(--light-primary);
    border: 3px solid var(--primary-color);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#success-alert{
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    height: 70px !important;
}
.top-alert{
    top: 106px;
    background-color: var(--secondary-color);
}

/* About section  */
.about{
    padding: 50px 60px;
    background-color: var(--light-primary);
}
@media(max-width: 425px){
    .about{
        padding: 40px 40px !important;
    }
    .ab-head{
        letter-spacing: 0 !important;
        font-size: 3rem !important;
        margin-bottom: 15px !important;
    }
    .ab-para{
        font-size: 1rem !important;
    }
}
@media(max-width: 325px){
    .ab-btn{
        font-size: 1rem !important;
        padding: 15px 50px !important;
    }
}
.ab-head{
    letter-spacing: 2px;
    font-size: 3.3rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.ab-para{
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.ab-btn{
    background-color: var(--primary-color);
    padding: 18px 70px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
}
.ab-btn:hover{
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    box-shadow: 5px 5px 10px var(--secondary-color);
}
.hist-head{
    font-size: 2.2rem;
    margin-bottom: 20px;
}
.hist-para{
    font-size: 1.2rem;
}
.video{
    width: 100%;
}

/* Contact page  */
.contact{
    padding: 50px 60px;
    background-color: var(--light-primary);
}
@media(max-width: 425px){
    .contact{
        padding: 40px 40px !important;
    }
    .cont-form input{
        padding: 15px !important;
    }

}
@media(max-width: 331px){
    .cont-head{
        font-size: 2.2rem !important;
    }
    .phone, .email, .address{
        font-size: 1em !important;
    }
    .cont-form input{
        padding: 12px !important;
    }

}
@media(max-width: 293px){
    .cont-head{
        font-size: 2rem !important;
    }
    .phone, .email, .address{
        font-size: 0.9em !important;
    }

}
.cont-head{
    font-size: 2.6rem;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
.fa-phone, .fa-envelope, .fa-map-marker-alt{
    color: var(--primary-color);
}
.phone, .email, .address{
    font-size: 1.1em;
    text-align: center;
}
.send{
    background-color: var(--secondary-color);
    padding: 15px 60px;
    font-size: 1.2rem;
    color: var(--white);
    font-weight: bold;
}
.send:hover{
    background-color: var(--secondary-color);
    border: none;
    color: var(--white);
}
.send:focus{
    background-color: var(--secondary-color);
    border: none;
    color: var(--white);
}

/* pricing page  */
.pricing{
    background-color: var(--light-primary);
    padding: 50px 60px;
}
@media(max-width: 425px){
    .pricing{
        padding: 30px 40px;
    }
}
@media(max-width: 345px){
    .pricing{
        padding: 20px 30px;
    }
    .price-title{
        font-size: 2rem !important;
    }
}
@media(max-width: 325px){
    .price-tag{
        font-size: 3rem !important;
    }
}
@media(max-width: 305px){
    .price-btn{
        font-size: 1rem !important;
    }
}
@media(max-width: 297px){
    .price-title{
        font-size: 1.7rem !important;
    }
    .price-tag{
        font-size: 2.7rem !important;
    }
    .price-tag sub{
        font-size: 0.9rem !important;
    }
}

.ready{
    font-size: 2.2rem;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}
.plan{
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-align: center;
}
.plan-btn.active{
    background-color: var(--secondary-color) !important;
    color: var(--black) !important;
}
.plan-btn{
    color: var(--secondary-color) !important;
}
.price-card{
    /* min-height: 985px; */
    height: auto;
    padding: 10px;
}
.price-title{
    color: var(--black);
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: capitalize;
}
.pro-title{
    color: var(--white);
}
.hand{
    font-size: 2rem;
    color: var(--secondary-color);
}
.pro{
    font-size: 2rem;
    color: var(--black);
}
.price-line{
    color: var(--black);
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.pro-line{
    color: var(--white);
}
.price-tag{
    font-size: 4rem;
    color: var(--black);
    font-weight: bold;
}
.pro-tag{
    color: var(--white);
}
.price-tag sub{
    font-size: 1rem;
    color: var(--secondary-color);
}
.pro-tag sub{
    color: var(--black);
}
.price-tag span{
    color: var(--secondary-color);
}
.pro-tag span{
    color: var(--black);
}

.price-btn{
    width: 100%;
    background-color: var(--primary-color);
    padding: 15px;
    border: none;
    font-size: 1.2rem;
    color: var(--white);
}
.pro-btn{
    background-color: var(--secondary-color);
    color: var(--black);
}
.price-btn:hover{
    background-color: var(--primary-color);
    color: var(--white);
    opacity: 0.9;
}
.pro-btn:hover{
    background-color: var(--secondary-color);
    color: var(--black);
}
.price-btn:focus{
    background-color: var(--primary-color);
    color: var(--white);
}
.pro-btn:focus{
    background-color: var(--secondary-color);
    color: var(--black);
}
.bas-in{
    color: var(--black);
    font-size: 1.3rem;
}
.pro-in{
    color: var(--white);
}
.features i {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 700;
}
.pro-feat i{
    color: var(--black);
}
.features p{
    color: var(--black);
    font-size: 1.1rem;
}
.pro-feat p{
    color: var(--white);
}

.pro-card{
    background-color: var(--primary-color);
}

/* login form  */
.log-form{
    background: rgba(58, 58, 58, 0.3);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(40, 40, 40, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: 1px solid var(--primary-color);
    padding: 40px 60px !important;
}
@media(max-width: 505px){
    .log-form{
        padding: 20px 40px !important;
    }
}
@media(max-width: 466px){
    .login-head{
        font-size: 1.6rem !important;
    }
}
@media(max-width: 394px){
    .log-form{
        padding: 20px 30px !important;
    }
    .login-head{
        font-size: 1.5rem !important;
    }
}
@media(max-width: 357px){
    .log-form{
        padding: 20px 10px !important;
    }
    .login-head{
        font-size: 1.29rem !important;
    }
}
.login-page{
    width: 100%;
    height: 100%;
}
.login-head{
    color: var(--primary-color);
    text-transform: capitalize;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 600;
}
.fields label{
    color: var(--white);
    font-size: 1.1rem;
}
.fields input{
    padding: 10px;
    background-color: var(--light-secondary);
    color: var(--black);
    font-size: 1.1rem;
}
.fields input:focus{
    background-color: var(--light-secondary);
    
}
.login-btn{
    background-color: var(--primary-color) !important;
    border: none;
    font-size: 1.2rem !important;
    color: var(--white) !important;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}
.login-btn:hover{
    color: var(--white) !important;
}
.reg{
    background-color: var(--secondary-color) !important;
    color: var(--black) !important;
}
.reg:hover{
    color: var(--black) !important;
}
.or{
    color: var(--white);
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
}
.sep{
    color: var(--white);
}