:root{
    --primary-color: rgb(166, 148, 57);
    --secondary-color: rgb(151, 151, 151);
    --light-primary: rgb(235, 222, 161);
    --light-secondary: rgb(192, 192, 192);
    --black: #000000;
    --white: #ffffff;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    background-image: url("/header.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.navigation {
    background: transparent;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100vw;
}

.navbar-collapse {
    flex-grow: 0 !important;
}
.search-btn{
    border: 1px solid  var(--primary-color) !important;
    color: var(--primary-color) !important;
}
.search-btn:hover{
    background-color: var(--primary-color) !important;
    color: var(--black)!important;
}

.banner {
    padding: 40px;
}

.heading {
    text-transform: capitalize;
    color: var(--secondary-color);
    font-size: 51px;
    font-weight: bold;
    letter-spacing: 1px;
}

.heading span {
    color: var(--primary-color);
}

.text {
    color: var(--white);
    font-size: 30px;
    font-style: oblique;
    margin-top: 20px;
    letter-spacing: 2px;

}
/* .navbar-collapse{
    padding: 0 20px 10px 20px;
    background: rgb(63, 63, 63);
    opacity: 0.95;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(4.8px);
    z-index: 2;
} */
.sign{
    border: 2px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
}
.sign:hover{
    background-color: var(--primary-color) !important;
    color: var(--black) !important;
}
@media(max-width: 1187px){
    .heading{
        font-size: 46px;
    }
    .text{
        font-size: 27px;
    }
}
@media(max-width: 1086px){
    .heading{
        font-size: 41px;
    }
    .text{
        font-size: 24px;
    }
}

@media(max-width: 991.5px){
    .form_area{
        display: none;
    }
    /* .laptop-pic{
        display: none;
    } */
}

@media(max-width: 818px){
    .heading{
        font-size: 40px;
    }
    .text{
        font-size: 22px !important;
    }
    .btns button{
        padding: 15px 0 !important;

    }
}

@media(max-width: 571px){
    .btns button{
        width: 50% !important;
        padding: 10px 0 !important;
    }
}
@media(max-width: 456px){
    .heading{
        font-size: 30px;
    }
    .text{
        font-size: 18px !important;
    }
}
@media(min-width: 992px){
    .offcanvas{
        display: none !important;
    }
}

.btns {
    margin-top: 10px;
}

.btns button {
    width: 33%;
    background: var(--secondary-color);
    height: auto;
    padding: 20px 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;

}
.offcanvas{
    padding: 10px 20px;
    background-color: rgb(62, 62, 62) !important;
    opacity: 0.9;
}
.sign-btns{
    margin-bottom: 10px;
    margin-top: 10px;
}

.get {
    background-color: var(--primary-color) !important;
}

.btns button:hover {
    background-color: var(--secondary-color);
    opacity: 0.9;
}

.form {
    padding: 10px 20px;
    background: rgb(50, 50, 50);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 2px solid var(--primary-color);
    opacity: 0.8;
    
}


.form h3 {
    color: var(--primary-color);
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 20px;
}
.form label{
    color: var(--white);
}
.form input{
    border: none;
}
.form p{
    color: var(--white);
    margin-top: 15px;
    font-size: 18px;
    text-transform:capitalize;
    font-weight: 600;
}
.signup{
    padding: 10px 0 !important;
    font-size: 18px !important;
    font-weight: bold !important;
    background-color: var(--primary-color) !important;
    border: none !important;

}
.signup:hover{
    opacity: 0.9 !important;
}
.google{
    background-color: var(--secondary-color) !important;
}
.login a{
    color: var(--white);
    text-decoration: none;
    text-transform: capitalize;
}
.login a:hover{
    color: var(--white);
    text-decoration: underline;
}
.skills{
    padding: 30px 130px !important;
}
.icon-place{
    margin: 20px;
    border-radius: 5px;
    background-color: var(--light-primary);
    width: fit-content;
    height: auto;
    padding: 15px;
}

.icon{
    width: 40px;
    height: 40px;
}
.box, .box2{
    border: none !important;
    box-shadow: 0 0 2px #e3e3e3;
}
.box2{
    box-shadow: 0 0 20px #c8c8c8;
}
.achieve{
    text-transform: capitalize;
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: 600;
}
.learn{
    padding: 80px 130px !important;
    background-color: var(--light-primary);
}
.laptop-pic{
    height: 500px !important;
    width: 100%;
    border-radius: 10px;
}
.left{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.left h2{
    text-transform: capitalize;
    font-size: 39px;
    margin-bottom: 20px;
}
.left p{
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.left ul li{
    list-style: none;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.left ul li i{
    margin-right: 20px;
    font-size: 23px;
    color: var(--primary-color);
}
.learn-btn{
    background: var(--secondary-color) !important;
    color: var(--white) !important;
    padding: 10px 20px !important;
    margin-top: 10px !important;
}
.course{
    padding: 40px 130px !important;
}
.lat{
    letter-spacing: 1px;
    font-size: 39px;
}
.card-img-top{
    height: 230px;
}
.enroll{
    background: var(--primary-color) !important;
    border: none !important;
}

.cour{
    font-weight: 600;
    text-transform: capitalize;
    font-size: 35px;
    letter-spacing: 1px;
}
.event{
    padding: 40px 130px !important;
    background-color: var(--light-primary);
}
.event-img{
    padding: 10px;
    border-radius: 14px !important;
}
.sub{
    color: var(--primary-color);
    font-weight: bold;
}

.loc i{
    color: var(--primary-color);
}
.date i{
    color: var(--primary-color);
}
.rev-box{
    width: 300px;
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    border-top-right-radius: 30px;
    height: auto;
    min-height: 250px;
    min-width: 300px;
    background-color: var(--light-secondary);
}
#reviews{
    overflow-x: hidden;
}
.fa-star{
    color: var(--secondary-color);
}
.checked{
    color: var(--primary-color);
}
.review-btn{
    background-color: var(--primary-color) !important;

}
.main-join{
    padding: 100px 130px !important;
}
.join{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.join-head{
    text-transform: capitalize;
    margin-bottom: 30px;
    font-size: 40px;
    letter-spacing: 2px;

}
.join-para{
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.footer{
    background-image: url('/bghead.jpg');
    color: var(--white);
    padding: 60px 130px 30px 220px !important;
}

.footer h3{
    margin-bottom: 30px;
}
.foot-list a{
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
    
}
.foot-list{
    padding-left: 5px;
}
.foot-list a:hover{
    color: var(--white);
    opacity: 0.9;
}
.foot-list a li{
    list-style: none;
    text-align: left;
    padding-bottom: 15px;
}
.copyright p{
    color: var(--secondary-color);
}
.social-links a{
    padding: 15px;
    color: var(--secondary-color);
    font-size: 18px;
    text-decoration: none;
    
}
.social-links a:hover{
    color: var(--white);

}